<!doctype html>
<meta charset="utf-8">
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="header">
            <div class="logo">Welcome</div>
        </div>
        <div class="sidemenu">
            <a href="home.html" target="window"><div class="tab">Home</div></a>
            <a href="about.html" target="window"><div class="tab">About Us</div></a>
            <a href="contact.html" target="window"><div class="tab">Contact Us</div></a>
        </div>

        <div class="footer">
            All copyrights reserved By @nkesh
        </div>
    </body>
</html>